<?xml version="1.0" encoding="utf-8"?>
<!--  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql2 Data Provider" invariant="Npgsql2" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.1.36;Database=exciseautomation_DEV;Uid=enterprisedb;Pwd=D@t@con@123$;Port=5444;MaxPoolSize=1023;" />-->
    <!--<add connectionString="Server=10.10.200.105;Database=edb4;Uid=enterprisedb;Pwd=Edb@IEMS105$;Port=6432;MaxPoolSize=1023" name="CASEMGMT" providerName="NpgSql2" />-->
   <!-- <add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.3.25;Database=IEMS_LOCAL;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
    <add name="CASEMGMT" providerName="NpgSql2" connectionString="server=192.168.3.25; database=IEMS_LOCAL;port=5444;uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;"/>
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.3.25;Database=lab;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
      <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.3.25;Database=IEMS;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=10.10.200.105;Database=IEMS;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
      <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=10.10.200.105;Database=IEMS_NEW;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
      <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=10.10.200.105;Database=IEMS_FINAL;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.3.25;Database=lab;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.3.25;Database=IEMS_UAT;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=192.168.3.25;Database=IEMS_DEV;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
      <!--<add connectionString="Server=10.10.200.105;Database=edb4;Uid=enterprisedb;Pwd=Edb@IEMS105$;Port=6432;MaxPoolSize=1023" name="CASEMGMT" providerName="NpgSql2" />-->
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=10.10.200.110;Database=IEMS;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
    <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=10.10.200.110;Database=ALL_DB;Uid=enterprisedb;Pwd=postgres123;Port=5444;MaxPoolSize=1023;" />-->
     <!--<add name="CASEMGMT" providerName="NpgSql2" connectionString="Server=10.10.200.110;Database=edb4;Uid=enterprisedb;Pwd=postgres123;Port=6432;MaxPoolSize=1023;" />-->
    <!--<add name="CASEMGMT1" providerName="NpgSql2" connectionString="Server=117.239.22.165;Database=exciseautomation;Uid=postgres;Pwd=Pa$$w0rd@iems;Port=5432;MaxPoolSize=1023;" />-->
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.3450.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <!--<add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
      <!--<add name="CAPTCHAHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />-->
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <defaultDocument>
      <files>
        <add value="LoginPage.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
    <system.web>  
      <httpHandlers>
        <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
        <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.3450.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <!--<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
        <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" />
      </httpHandlers>
      <authentication mode="Forms">
        <forms loginUrl="LoginPage.aspx" name="__GWAuthenticatorCookie" path="/" protection="All" timeout="60" />
      </authentication>
      <!--***for sessions clearing issue
   <sessionState   mode="StateServer" regenerateExpiredSessionId="false" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="10" cookieless="false" />-->
      <sessionState mode="InProc" timeout="61" allowCustomSqlDatabase="false" regenerateExpiredSessionId="false" />
      <urlMappings enabled="true">
        <add url="~/NOC_A" mappedUrl="~/NOC_A.aspx" />
        <add url="~/NOC_P" mappedUrl="~/NOC_P.aspx" />
        <add url="~/NOC_B" mappedUrl="~/NOC_B.aspx" />
        <add url="~/NOC_I" mappedUrl="~/NOC_I.aspx" />
        <add url="~/DashBoardDetails" mappedUrl="DashBoardDetails.aspx" />
        <add url="~/LoginPage" mappedUrl="LoginPage.aspx" />
        <add url="~/MainPage" mappedUrl="MainPage.aspx" />
        <add url="~/ForgotPassword" mappedUrl="ForgotPassword.aspx" />
        <add url="~/SCMDashBoard" mappedUrl="SCMDashBoard.aspx" />
        <add url="~/User_Mgmt" mappedUrl="User_Mgmt.aspx" />
        <add url="~/OrgList" mappedUrl="OrgList.aspx" />
        <add url="~/OrgFroms" mappedUrl="OrgFroms.aspx" />
        <add url="~/orgFinancialyrlist" mappedUrl="orgFinancialyrlist.aspx" />
        <add url="~/orgFinancialyrform" mappedUrl="orgFinancialyrform.aspx" />
        <add url="~/StateList" mappedUrl="StateList.aspx" />
        <add url="~/StateMasterForm" mappedUrl="StateMasterForm.aspx" />
        <add url="~/DistrictForm" mappedUrl="DistrictForm.aspx" />
        <add url="~/Districtlist" mappedUrl="Districtlist.aspx" />
        <add url="~/DivisionForm" mappedUrl="DivisionForm.aspx" />
        <add url="~/DivisionList" mappedUrl="DivisionList.aspx" />
        <add url="~/RoleLevelList" mappedUrl="RoleLevelList.aspx" />
        <add url="~/RoleLevelMasterForm" mappedUrl="RoleLevelMasterForm.aspx" />
        <add url="~/RoleMasterForm" mappedUrl="RoleMasterForm.aspx" />
        <add url="~/StateList" mappedUrl="StateList.aspx" />
        <add url="~/RolePermissionForm" mappedUrl="RolePermissionForm.aspx" />
        <add url="~/RolePermissionList" mappedUrl="RolePermissionList.aspx" />
        <add url="~/AccessTypeList" mappedUrl="AccessTypeList.aspx" />
        <add url="~/AccessTypeFrom" mappedUrl="AccessTypeFrom.aspx" />
        <add url="~/RoleMasterList1" mappedUrl="RoleMasterList1.aspx" />
        <add url="~/UserRegistrationForm" mappedUrl="UserRegistrationForm.aspx" />
        <add url="~/UserRegistrationList" mappedUrl="UserRegistrationList.aspx" />
        <add url="~/workflowForm" mappedUrl="workflowForm.aspx" />
        <add url="~/workflowlist" mappedUrl="workflowlist.aspx" />
        <add url="~/UserPermissionsForm" mappedUrl="UserPermissionsForm.aspx" />
        <add url="~/UserPermissionsList" mappedUrl="UserPermissionsList.aspx" />
        <add url="~/UserReports" mappedUrl="UserReports.aspx" />
        <add url="~/MasterReportsList" mappedUrl="MasterReportsList.aspx" />
        <add url="~/MasterReports" mappedUrl="MasterReports.aspx" />
        <add url="~/ReportPage" mappedUrl="ReportPage.aspx" />
        <add url="~/DigiLocker" mappedUrl="DigiLocker.aspx" />
        <add url="~/SeverConfigList" mappedUrl="SeverConfigList.aspx" />
        <add url="~/ServerConfigs" mappedUrl="ServerConfigs.aspx" />
        <add url="~/DigitalSignatureForm" mappedUrl="DigitalSignatureForm.aspx" />
        <add url="~/DigitalSignatureList" mappedUrl="DigitalSignatureList.aspx" />
        <add url="~/DistillationSetupForm" mappedUrl="DistillationSetupForm.aspx" />
        <add url="~/DistillationSetupList" mappedUrl="DistillationSetupList.aspx" />
        <add url="~/Allocation_A" mappedUrl="~/Allocation_A.aspx" />
        <add url="~/Allocation_P" mappedUrl="~/Allocation_P.aspx" />
        <add url="~/Allocation_B" mappedUrl="~/Allocation_B.aspx" />
        <add url="~/Allocation_I" mappedUrl="~/Allocation_I.aspx" />
        <add url="~/RMR_GrainBased" mappedUrl="~/RMR_GrainBased.aspx" />
        <!-- SCM-->
        <add url="~/TicketStatusMaster" mappedUrl="~/TicketStatusMaster.aspx" />
        <add url="~/TicketStatusLIst" mappedUrl="~/TicketStatusLIst.aspx" />
        <add url="~/TicketCategoryMasterLIst" mappedUrl="~/TicketCategoryMasterLIst.aspx" />
        <add url="~/TicketcategoryMaster" mappedUrl="~/TicketcategoryMaster.aspx" />
        <add url="~/PriorityList" mappedUrl="~/PriorityList.aspx" />
        <add url="~/PriorityForm" mappedUrl="~/PriorityForm.aspx" />
        <add url="~/HelpDeskForm1" mappedUrl="~/HelpDeskForm1.aspx" />
        <add url="~/HelpDeskChat" mappedUrl="~/HelpDeskChat.aspx" />
        <add url="~/HelpDeskList" mappedUrl="~/HelpDeskList.aspx" />

        <add url="~/VatMasterList" mappedUrl="~/VatMasterList.aspx" />
        <add url="~/VATMasterForm" mappedUrl="~/VATMasterForm.aspx" />
        <add url="~/PartyTypeMasterList" mappedUrl="~/PartyTypeMasterList.aspx" />
        <add url="~/PartyTypeMasterForm" mappedUrl="~/PartyTypeMasterForm.aspx" />
        <add url="~/PartyMasterList" mappedUrl="~/PartyMasterList.aspx" />
        <add url="~/PartyMasterForm" mappedUrl="~/PartyMasterForm.aspx" />
        <add url="~/ProductMasterList" mappedUrl="~/ProductMasterList.aspx" />
        <add url="~/ProductMasterForm" mappedUrl="~/ProductMasterForm.aspx" />
        <add url="~/ProductTypeMaster" mappedUrl="~/ProductTypeMaster.aspx" />
        <add url="~/ProductTypeList" mappedUrl="~/ProductTypeList.aspx" />
        <add url="~/UOMMasterForm" mappedUrl="~/UOMMasterForm.aspx" />
        <add url="~/UOMMasterList" mappedUrl="~/UOMMasterList.aspx" />
        <add url="~/ModuleMasterForm" mappedUrl="~/ModuleMasterForm.aspx" />
        <add url="~/ModuleMasterList" mappedUrl="~/ModuleMasterList.aspx" />
        <add url="~/SubModuleMasterForm" mappedUrl="~/SubModuleMasterForm.aspx" />
        <add url="~/SubModuleList" mappedUrl="~/SubModuleList.aspx" />
        <add url="~/TabNameMasterForm" mappedUrl="~/TabNameMasterForm.aspx" />
        <add url="~/TabNameList" mappedUrl="~/TabNameList.aspx" />
        <add url="~/VatTypeMasterList" mappedUrl="~/VatTypeMasterList.aspx" />
        <add url="~/VatTypeMasterForm" mappedUrl="~/VatTypeMasterForm.aspx" />
        <add url="~/SCMSugarCanePurchaseRegList" mappedUrl="~/SCMSugarCanePurchaseRegList.aspx" />
        <add url="~/SCMSugarCanePurchaseRegForm" mappedUrl="~/SCMSugarCanePurchaseRegForm.aspx" />
        <add url="~/MolassesIssueRegisterForm" mappedUrl="~/MolassesIssueRegisterForm.aspx" />
        <add url="~/MolassesIssueRegisterList" mappedUrl="~/MolassesIssueRegisterList.aspx" />
        <add url="~/OpeningBalanceSgrForm" mappedUrl="~/OpeningBalanceSgrForm.aspx" />
        <add url="~/SCMDailyMolassesProductionForm" mappedUrl="~/SCMDailyMolassesProductionForm.aspx" />
        <add url="~/SCMDailyMolassesProductionList" mappedUrl="~/SCMDailyMolassesProductionList.aspx" />
        <add url="~/OpeningBalanceList" mappedUrl="~/OpeningBalanceList.aspx" />
        <add url="~/OpeningBalanceForm" mappedUrl="~/OpeningBalanceForm.aspx" />
        <add url="~/RawMaterialForm" mappedUrl="~/RawMaterialForm.aspx" />
        <add url="~/RawMaterialList" mappedUrl="~/RawMaterialList.aspx" />
        <add url="~/RawMaterialTypeMaster" mappedUrl="~/RawMaterialTypeMaster.aspx" />
        <add url="~/RawMaterialTypeMasterList" mappedUrl="~/RawMaterialTypeMasterList.aspx" />
        <add url="~/DailyMolassesProductionList" mappedUrl="~/DailyMolassesProductionList.aspx" />
        <add url="~/DailyMolassesProduction" mappedUrl="~/DailyMolassesProduction.aspx" />
        <add url="~/DailyMolassesAction" mappedUrl="~/DailyMolassesAction.aspx" />
        <add url="~/MolassesIssueRegisterForm" mappedUrl="~/MolassesIssueRegisterForm.aspx" />
        <add url="~/MolassesIssueRegisterList" mappedUrl="~/MolassesIssueRegisterList.aspx" />
        <add url="~/Molasses_LandingPage" mappedUrl="~/Molasses_LandingPage.aspx" />
        <add url="~/IndentForm" mappedUrl="~/IndentForm.aspx" />
        <add url="~/IndentList" mappedUrl="~/IndentList.aspx" />
        <add url="~/MolassesProvisionalProductionList" mappedUrl="~/MolassesProvisionalProductionList.aspx" />
        <add url="~/MolassesProvisionalProductionForm" mappedUrl="~/MolassesProvisionalProductionForm.aspx" />
        <add url="~/MF3Form" mappedUrl="~/MF3Form.aspx" />
        <add url="~/MF3List" mappedUrl="~/MF3List.aspx" />
        <add url="~/ReleaseRequestForm" mappedUrl="~/ReleaseRequestForm.aspx" />
        <add url="~/ReleaseRequestList" mappedUrl="~/ReleaseRequestList.aspx" />
        <add url="~/ReleaseRequestAppliedList" mappedUrl="~/ReleaseRequestAppliedList.aspx" />
        <add url="~/AllocationRequestList" mappedUrl="~/AllocationRequestList.aspx" />
        <add url="~/AllocationRequestForm" mappedUrl="~/AllocationRequestForm.aspx" />
        <add url="~/DailyDispatchClosureForm" mappedUrl="~/DailyDispatchClosureForm.aspx" />
        <add url="~/DailyDispatchClosureList" mappedUrl="~/DailyDispatchClosureList.aspx" />
        <add url="~/FermentertoReceiverForm" mappedUrl="~/FermentertoReceiverForm.aspx" />
        <add url="~/FermentertoReceiverList" mappedUrl="~/FermentertoReceiverList.aspx" />
        <add url="~/FromStoragetoDispatchForm" mappedUrl="~/FromStoragetoDispatchForm.aspx" />
        <add url="~/FromStoragetoDispatchList" mappedUrl="~/FromStoragetoDispatchList.aspx" />
        <add url="~/ReceivertoStorageForm" mappedUrl="~/ReceivertoStorageForm.aspx" />
        <add url="~/ReceivertoStorageList" mappedUrl="~/ReceivertoStorageList.aspx" />
        <add url="~/RawmaterialReceiptForm" mappedUrl="~/RawmaterialReceiptForm.aspx" />
        <add url="~/RawMaterialReceiptList" mappedUrl="~/RawMaterialReceiptList.aspx" />
        <add url="~/RawMaterialtoFermenterForm" mappedUrl="~/RawMaterialtoFermenterForm.aspx" />
        <add url="~/RawMaterialtoFermenterList" mappedUrl="~/RawMaterialtoFermenterList.aspx" />
        <add url="~/VATTransfersFroms" mappedUrl="~/VATTransfersFroms.aspx" />
        <add url="~/VATTransferList" mappedUrl="~/VATTransferList.aspx" />
        <add url="~/PartyFinancialYear" mappedUrl="~/PartyFinancialYear.aspx" />
        <add url="~/PartyFinancialYearList" mappedUrl="~/PartyFinancialYearList.aspx" />
        <add url="~/NOCApplicationList" mappedUrl="~/NOCApplicationList.aspx" />
        <add url="~/NOCApplicationForm" mappedUrl="~/NOCApplicationForm.aspx" />
        <add url="~/ReceiverTransferForm" mappedUrl="~/ReceiverTransferForm.aspx" />
        <add url="~/ReceiverTransferList" mappedUrl="~/ReceiverTransferList.aspx" />
        <add url="~/CustomerMasterList" mappedUrl="~/CustomerMasterList.aspx" />
        <add url="~/CustomerMasterForm" mappedUrl="~/CustomerMasterForm.aspx" />
        <add url="~/PassList" mappedUrl="~/PassList.aspx" />
        <add url="~/PassForm" mappedUrl="~/PassForm.aspx" />
        <add url="~/RequestForPassForm" mappedUrl="~/RequestForPassForm.aspx" />
        <add url="~/RequestForPassList" mappedUrl="~/RequestForPassList.aspx" />
        <add url="~/DocumentFormatList" mappedUrl="~/DocumentFormatList.aspx" />
        <add url="~/DocumentFormatForm" mappedUrl="~/DocumentFormatForm.aspx" />
        <add url="~/DispatchTypeMasterList" mappedUrl="~/DispatchTypeMasterList.aspx" />
        <add url="~/DispatchTypeMaster" mappedUrl="~/DispatchTypeMaster.aspx" />
        <add url="~/ThanaMasterList" mappedUrl="~/ThanaMasterList.aspx" />
        <add url="~/ThanaMasterForm" mappedUrl="~/ThanaMasterForm.aspx" />
        <add url="~/DashBoard_C" mappedUrl="~/DashBoard_C.aspx" />
        <add url="~/DesignationForm" mappedUrl="~/DesignationForm.aspx" />
        <add url="~/DesignationList" mappedUrl="~/DesignationList.aspx" />
        <add url="~/EmployeeList" mappedUrl="~/EmployeeList.aspx" />
        <add url="~/EmployeeForm" mappedUrl="~/EmployeeForm.aspx" />
        <add url="~/RMR_GrainBased" mappedUrl="~/RMR_GrainBased.aspx" />
        <add url="~/RMR_GrainBased1" mappedUrl="~/RMR_GrainBased1.aspx" />
        <add url="~/RMR_GrainBasedList" mappedUrl="~/RMR_GrainBasedList.aspx" />
        <add url="~/DesignationTypeForm" mappedUrl="~/DesignationTypeForm.aspx" />
        <add url="~/DesignationTypeList" mappedUrl="~/DesignationTypeList.aspx" />
        <add url="~/PassDispatchList" mappedUrl="~/PassDispatchList.aspx" />
        <add url="~/PassDispatchForm" mappedUrl="~/PassDispatchForm.aspx" />
        <add url="~/RequestForTransportList" mappedUrl="~/RequestForTransportList.aspx" />
        <add url="~/RequestForTransportPassForm" mappedUrl="~/RequestForTransportPassForm.aspx" />

        <add url="~/LicenseFeeMaster" mappedUrl="~/LicenseFeeMaster.aspx" />
        <add url="~/LicenseFeeList" mappedUrl="~/LicenseFeeList.aspx" />

        <add url="~/LicenseTypeMasterForm" mappedUrl="~/LicenseTypeMasterForm.aspx" />
        <add url="~/LicenseSubTypeList" mappedUrl="~/LicenseSubTypeList.aspx" />
        <add url="~/LicenseSubTypeForm" mappedUrl="~/LicenseSubTypeForm.aspx" />
        <add url="~/LicenseTypeMasterList" mappedUrl="~/LicenseTypeMasterList.aspx" />
        <!--//Case Management///-->
        <add url="~/ArticleCategoryMasterList" mappedUrl="~/UserForms/CaseMgmt/ArticleCategoryMasterList.aspx" />
        <add url="~/ArticleCategoryMasterForm" mappedUrl="~/UserForms/CaseMgmt/ArticleCategoryMasterForm.aspx" />
        <add url="~/ArticleNameMasterList" mappedUrl="~/UserForms/CaseMgmt/ArticleNameMasterList.aspx" />
        <add url="~/ArticleNameMasterForm" mappedUrl="~/UserForms/CaseMgmt/ArticleNameMasterForm.aspx" />
        <add url="~/ArticleSubCategoryMasterList" mappedUrl="~/UserForms/CaseMgmt/ArticleSubCategoryMasterList.aspx" />
        <add url="~/ArticleSubCategoryMasterForm" mappedUrl="~/UserForms/CaseMgmt/ArticleSubCategoryMasterForm.aspx" />
        <add url="~/BailMasterList" mappedUrl="~/UserForms/CaseMgmt/BailMasterList.aspx" />
        <add url="~/BailMasterForm" mappedUrl="~/UserForms/CaseMgmt/BailMasterForm.aspx" />
        <add url="~/CasteMasterList" mappedUrl="~/UserForms/CaseMgmt/CasteMasterList.aspx" />
        <add url="~/CasteMasterForm" mappedUrl="~/UserForms/CaseMgmt/CasteMasterForm.aspx" />
        <add url="~/CourtMasterList" mappedUrl="~/UserForms/CaseMgmt/CourtMasterList.aspx" />
        <add url="~/CourtMasterForm" mappedUrl="~/UserForms/CaseMgmt/CourtMasterForm.aspx" />
        <add url="~/DesignationMasterList" mappedUrl="~/UserForms/CaseMgmt/DesignationMasterList.aspx" />
        <add url="~/DesignationMasterForm" mappedUrl="~/UserForms/CaseMgmt/DesignationMasterForm.aspx" />
        <add url="~/DesignationTypeMasterList" mappedUrl="~/UserForms/CaseMgmt/DesignationTypeMasterList.aspx" />
        <add url="~/DesignationTypeMasterForm" mappedUrl="~/UserForms/CaseMgmt/DesignationTypeMasterForm.aspx" />
        <add url="~/DisposalofPropertyMasterList" mappedUrl="~/UserForms/CaseMgmt/DisposalofPropertyMasterList.aspx" />
        <add url="~/DisposalofPropertyMasterForm" mappedUrl="~/UserForms/CaseMgmt/DisposalofPropertyMasterForm.aspx" />
        <add url="~/GenderMasterList" mappedUrl="~/UserForms/CaseMgmt/GenderMasterList.aspx" />
        <add url="~/GenderMasterForm" mappedUrl="~/UserForms/CaseMgmt/GenderMasterForm.aspx" />
        <add url="~/IdproofMasterList" mappedUrl="~/UserForms/CaseMgmt/IdproofMasterList.aspx" />
        <add url="~/IdproofMasterForm" mappedUrl="~/UserForms/CaseMgmt/IdproofMasterForm.aspx" />
        <add url="~/OffenceMasterList" mappedUrl="~/UserForms/CaseMgmt/OffenceMasterList.aspx" />
        <add url="~/OffenceMasterForm" mappedUrl="~/UserForms/CaseMgmt/OffenceMasterForm.aspx" />
        <add url="~/OffenceTypeMasterList" mappedUrl="~/UserForms/CaseMgmt/OffenceTypeMasterList.aspx" />
        <add url="~/OffenceTypeMasterForm" mappedUrl="~/UserForms/CaseMgmt/OffenceTypeMasterForm.aspx" />
        <add url="~/ReligionMasterList" mappedUrl="~/UserForms/CaseMgmt/ReligionMasterList.aspx" />
        <add url="~/ReligionMasterForm" mappedUrl="~/UserForms/CaseMgmt/ReligionMasterForm.aspx" />
        <add url="~/SeizurStageList" mappedUrl="~/UserForms/CaseMgmt/SeizurStageList.aspx" />
        <add url="~/SeizureStageForm" mappedUrl="~/UserForms/CaseMgmt/SeizureStageForm.aspx" />
        <add url="~/SeizurStatusList" mappedUrl="~/UserForms/CaseMgmt/SeizurStatusList.aspx" />
        <add url="~/SeizurStatusForm" mappedUrl="~/UserForms/CaseMgmt/SeizurStatusForm.aspx" />
        <add url="~/propertytypemasterList" mappedUrl="~/UserForms/CaseMgmt/propertytypemasterList.aspx" />
        <add url="~/propertytypemasterForm" mappedUrl="~/UserForms/CaseMgmt/propertytypemasterForm.aspx" />
        <add url="~/VehicleMasterList" mappedUrl="~/UserForms/CaseMgmt/VehicleMasterList.aspx" />
        <add url="~/VehicleMasterForm" mappedUrl="~/UserForms/CaseMgmt/VehicleMasterForm.aspx" />
        <!--<add url="~/DigitalSignatureForm" mappedUrl="~/DigitalSignatureForm.aspx" />-->
        <!--<add url="~/DigitalSignatureList" mappedUrl="~/DigitalSignatureList.aspx" />-->

        <!--Case Management MainForms-->
        <add url="~/BasicIformationForm" mappedUrl="~/BasicIformationForm.aspx" />
        <add url="~/ExcisableArticlesSeizedList" mappedUrl="~/ExcisableArticlesSeizedList.aspx" />
        <add url="~/ExcisableArticlesSeizedForm" mappedUrl="~/ExcisableArticlesSeizedForm.aspx" />
        <add url="~/VehicleList" mappedUrl="~/VehicleList.aspx" />
        <add url="~/OtherExcisableArticlesForm" mappedUrl="~/OtherExcisableArticlesForm.aspx" />
        <add url="~/ApparatusList" mappedUrl="~/ApparatusList.aspx" />
        <add url="~/ApparatusForm" mappedUrl="~/ApparatusForm.aspx" />

        <add url="~/PropertyList" mappedUrl="~/PropertyList.aspx" />
        <add url="~/PropertyForm" mappedUrl="~/PropertyForm.aspx" />
        <add url="~/SeizureList" mappedUrl="~/SeizureList.aspx" />

        <add url="~/SHO_DashBoard" mappedUrl="~/SHO_DashBoard.aspx" />
        <add url="~/SeizureAddesComplaints" mappedUrl="~/SeizureAddesComplaints.aspx" />
        <add url="~/FIRFiledComplaints" mappedUrl="~/FIRFiledComplaints.aspx" />

        <add url="~/MoneyList" mappedUrl="~/MoneyList.aspx" />
        <add url="~/MoneyForm" mappedUrl="~/MoneyForm.aspx" />
        <add url="~/AccusedDetailsList" mappedUrl="~/AccusedDetailsList.aspx" />
        <add url="~/AccusedDetailsForm" mappedUrl="~/AccusedDetailsForm.aspx" />
        <add url="~/OffencesCommittedList" mappedUrl="~/OffencesCommittedList.aspx" />
        <add url="~/OffencesCommittedForm" mappedUrl="~/OffencesCommittedForm.aspx" />

        <add url="~/CaseHistoryList" mappedUrl="~/CaseHistoryList.aspx" />
        <add url="~/CaseHistoryForm" mappedUrl="~/CaseHistoryForm.aspx" />
        <add url="~/RaidTeamList" mappedUrl="~/RaidTeamList.aspx" />
        <add url="~/RaidTeamForm" mappedUrl="~/RaidTeamForm.aspx" />
        <add url="~/WitnessList" mappedUrl="~/WitnessList.aspx" />
        <add url="~/WitnessForm" mappedUrl="~/WitnessForm.aspx" />
        <add url="~/FIRList" mappedUrl="~/FIRList.aspx" />
        <add url="~/FIRForm" mappedUrl="~/FIRForm.aspx" />
        <add url="~/BailList" mappedUrl="~/BailList.aspx" />
        <add url="~/BailsubForm" mappedUrl="~/BailsubForm.aspx" />
        <add url="~/ChargesheetList" mappedUrl="~/ChargesheetList.aspx" />
        <add url="~/ChargesheetForm" mappedUrl="~/ChargesheetForm.aspx" />
        <add url="~/CognizanceList" mappedUrl="~/CognizanceList.aspx" />
        <add url="~/CognizanceForm" mappedUrl="~/CognizanceForm.aspx" />

        <add url="~/AppearanceList" mappedUrl="~/AppearanceList.aspx" />
        <add url="~/AppearanceForm" mappedUrl="~/AppearanceForm.aspx" />
        <add url="~/PolicePaperSupplyList" mappedUrl="~/PolicePaperSupplyList.aspx" />
        <add url="~/PolicePaperSupplyForm" mappedUrl="~/PolicePaperSupplyForm.aspx" />
        <add url="~/TrailCaseHistoryList" mappedUrl="~/TrailCaseHistoryList.aspx" />

        <add url="~/TrailChargesheetList" mappedUrl="~/TrailChargesheetList.aspx" />
        <add url="~/TraiChargeSheetForm" mappedUrl="~/TraiChargeSheetForm.aspx" />
        <add url="~/ProsecutionEvidenceList" mappedUrl="~/ProsecutionEvidenceList.aspx" />
        <add url="~/ProsecutionEvidenceForm" mappedUrl="~/ProsecutionEvidenceForm.aspx" />
        <add url="~/AccusedStatementList" mappedUrl="~/AccusedStatementList.aspx" />
        <add url="~/AccusedStatementForm" mappedUrl="~/AccusedStatementForm.aspx" />
        <add url="~/DefenceStatementList" mappedUrl="~/DefenceStatementList.aspx" />
        <add url="~/DefenceStatementForm" mappedUrl="~/DefenceStatementForm.aspx" />
        <add url="~/FinalArgumentList" mappedUrl="~/FinalArgumentList.aspx" />
        <add url="~/FinalArgumentForm" mappedUrl="~/FinalArgumentForm.aspx" />

        <add url="~/JudgementList" mappedUrl="~/JudgementList.aspx" />
        <add url="~/JudgementForm" mappedUrl="~/JudgementForm.aspx" />
        <add url="~/TrailCaseHistoryList" mappedUrl="~/TrailCaseHistoryList.aspx" />
        <add url="~/AppealForm" mappedUrl="~/AppealForm.aspx" />
        <add url="~/DMOrderDetailsForm" mappedUrl="~/DMOrderDetailsForm.aspx" />
        <add url="~/ExciseCommissionerOrderDetails" mappedUrl="~/ExciseCommissionerOrderDetails.aspx" />

        <add url="~/AppealList" mappedUrl="~/AppealList.aspx" />
        <add url="~/DMOrderDetailsList" mappedUrl="~/DMOrderDetailsList.aspx" />
        <add url="~/ExciseCommissionerOrderDetailsList" mappedUrl="~/ExciseCommissionerOrderDetailsList.aspx" />
        <add url="~/SEC_Registration_List" mappedUrl="~/SEC_Registration_List.aspx" />
        <add url="~/SEC_Registration" mappedUrl="~/SEC_Registration.aspx" />
        <add url="~/SECCase_Hearing" mappedUrl="~/SECCase_Hearing.aspx" />
        <add url="~/SECCase_List" mappedUrl="~/SECCase_List.aspx" />

        <add url="~/DME" mappedUrl="~/DME.aspx" />
        <add url="~/DME_List" mappedUrl="~/DME_List.aspx" />
      </urlMappings>
      <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/LoginPage.aspx" />
      <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0" enableEventValidation="true">
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        </controls>
      </pages>
      <compilation debug="true" targetFramework="4.6.1">
        <assemblies>
          <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <!--<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
          <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        </assemblies>
        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </buildProviders>
      </compilation>
      <httpRuntime maxRequestLength="1048576" />
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
      <profile defaultProvider="DefaultProfileProvider">
        <providers />
      </profile>
      <membership defaultProvider="DefaultMembershipProvider">
        <providers />
      </membership>
      <roleManager defaultProvider="DefaultRoleProvider">
        <providers />
      </roleManager>
      <httpModules>
        <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      </httpModules>
    </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.0.0" newVersion="19.1.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
     
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.0.0" newVersion="15.1.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.0.0" newVersion="15.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\systemapplogs\Traces10.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
<!--ProjectGuid: {EE502FB2-F02C-4152-8A2B-9B0E4A1A4FA0}-->
<!--ProjectGuid: {97F77DAF-F248-425F-831D-3F7BFFCC9675}-->