
     .ParentAccordionContent {
                                        border-color: -moz-use-text-color #5078B3;
                                        border-right: 1px dashed #2F4F4F;
                                        border-style: none solid solid;
                                        border-width: medium 1px 1px;
                                        padding: 10px 5px 5px;
                                        width: 100%;
                                        text-align: center;
                                        background-color: #c1e2f5;
                                    }

                                    .ParentAccordionHeader {
                                        cursor: pointer;
                                        font-family: Arial,Sans-Serif;
                                        font-weight: bold;
                                        font-size:medium;
                                        margin-top: 2px;
                                        padding: 2px;
                                      
                                        border: 1px solid #2F4F4F;
                                        width: 100%;
                                        background: url(img/img-collapse.png) no-repeat 98% 7px;
                                        background-color:#eef1f7;
                                        color: black;
                                        text-align: left;
                                        left: 50px;
                                    }

                                    .ParentAccordionHeaderSelected {
                                        color: black;
                                        cursor: pointer;
                                        font-family: Arial,Sans-Serif;
                                        font-weight: bold;
                                        margin-top: 10px;
                                        padding: 5px;
                                        font-size: 14px;
                                        border: 1px solid #2F4F4F;
                                        width: 100%;
                                        background: url(img/img-expand.png) no-repeat 98% 7px;
                                        background-color: #eef1f7;
                                        text-align: left;
                                        left: 50px;
                                    }

                                    .ChildAccordionContent {
                                        border-color:black;
                                        border-right: 1px dashed #2F4F4F;
                                        border-style: none solid solid;
                                        border-width: medium 1px 1px;
                                        padding: 10px 5px 5px;
                                        width: 95%;
                                        text-align: left;
                                        background-color: #cbebbf left:50px;
                                    }

                                    .ChildAccordionHeader {
                                        cursor: pointer;
                                        font-family: Arial,Sans-Serif;
                                        font-weight: bold;
                                        margin-top: 10px;
                                        padding: 5px;
                                        font-size: 14px;
                                        border: 1px solid #2F4F4F;
                                        width: 95%;
                                        background: url(img/img-collapse.png) no-repeat 98% 7px;
                                        background-color: #eef1f7;
                                        color: black;
                                        text-align: left;
                                        left: 50px;
                                    }

                                    .ChildAccordionHeaderSelected {
                                        color:black;
                                        cursor: pointer;
                                        font-family: Arial,Sans-Serif;
                                        font-weight: bold;
                                        margin-top: 10px;
                                        padding: 5px;
                                        font-size: 14px;
                                        border: 1px solid #2F4F4F;
                                        width: 95%;
                                        background: url(img/img-expand.png) no-repeat 98% 7px;
                                        background-color: #eef1f7;
                                        text-align: left;
                                        left: 50px;
                                    }

